    <meta charset="utf-8" />
    <title>test_code_it</title>

    <!-- Mobile Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />


    <!--<meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />-->


    <!-- Internet Explore -->
    <meta http-equiv="cleartype" content="on" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-type" content="text/html;charset=utf-8" />

    <!-- Favicon -->
    <!--<link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />-->

    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Arimo:400italic' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Arimo:700' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Arimo:700italic' rel='stylesheet' type='text/css' />

    <!--<link rel="stylesheet" type="text/css" href="/vendor/plugins/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/plugins/owl.theme.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/plugins/owl.transitions.css" />-->

    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <!--<script type="text/javascript">
        document.ondragstart = noselect;
        // запрет на перетаскивание
        document.onselectstart = noselect;
        // запрет на выделение элементов страницы
        document.oncontextmenu = noselect;
        // запрет на выведение контекстного меню
        function noselect() {return false;}
    </script>-->

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/" />
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/" />
    <!--<![endif]-->
