<aside class="sidebar">
    <ul class="sidebarList">
        <li class="active">
            <a href="#">Cars</a>
            <div class="hide_list">
                <span>Household Appliances</span>
                <ul class="apps">
                    <li class="active">
                        <a href="#">Microwaves</a>
                    </li>
                    <li>
                        <a href="#">Fridges</a>
                    </li>
                    <li>
                        <a href="#">Посудомоечные машины</a>
                    </li>
                    <li>
                        <a href="#">Dishwashers</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#">Mobile Equipment</a>
            <div>
                <span></span>
                <ul>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#">Computers</a>
            <div>
                <span></span>
                <ul>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#">Clothing</a>
            <div>
                <span></span>
                <ul>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#">Real Estate</a>
            <div>
                <span></span>
                <ul>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <a href="#" class="price">Price List</a>
</aside>