<section class="products">
    <div class="productsList">
        <div class="product">
            <div class="productTop">
                <div class="productTopImage">
                    <img src="img/product.png" alt="image" />
                </div>
                <div class="productTopDescription">
                    <p>Lorem ipsum dolor sit amet, consectetur doler adipiscing elit.</p>
                </div>
            </div>
            <div class="productPrice">
                $ 550.95
            </div>
        </div>
        <div class="product">
            <div class="productTop">
                <div class="productTopImage">
                    <img src="img/product.png" alt="image" />
                </div>
                <div class="productTopDescription">
                    <p>Lorem ipsum dolor sit amet, consectetur doler adipiscing elit.</p>
                </div>
            </div>
            <div class="productPrice">
                $ 550.95
            </div>
        </div>
        <div class="product">
            <div class="productTop">
                <div class="productTopImage">
                    <img src="img/product.png" alt="image" />
                </div>
                <div class="productTopDescription">
                    <p>Lorem ipsum dolor sit amet, consectetur doler adipiscing elit.</p>
                </div>
            </div>
            <div class="productPrice">
                $ 550.95
            </div>
        </div>
        <div class="product">
            <div class="productTop">
                <div class="productTopImage">
                    <img src="img/product.png" alt="image" />
                </div>
                <div class="productTopDescription">
                    <p>Lorem ipsum dolor sit amet, consectetur doler adipiscing elit.</p>
                </div>
            </div>
            <div class="productPrice">
                $ 550.95
            </div>
        </div>
        <div class="product">
            <div class="productTop">
                <div class="productTopImage">
                    <img src="img/product.png" alt="image" />
                </div>
                <div class="productTopDescription">
                    <p>Lorem ipsum dolor sit amet, consectetur doler adipiscing elit.</p>
                </div>
            </div>
            <div class="productPrice">
                $ 550.95
            </div>
        </div>
        <div class="product">
            <div class="productTop">
                <div class="productTopImage">
                    <img src="img/product.png" alt="image" />
                </div>
                <div class="productTopDescription">
                    <p>Lorem ipsum dolor sit amet, consectetur doler adipiscing elit.</p>
                </div>
            </div>
            <div class="productPrice">
                $ 550.95
            </div>
        </div>
    </div>
    <ul class="productsNav">
        <li>
            <a href="#">1</a>
        </li>
        <li>
            <a href="#">2</a>
        </li>
        <li class="active">
            <a href="#">3</a>
        </li>
        <li>
            <a href="#">4</a>
        </li>
        <li>
            <a href="#">5</a>
        </li>
        <li>
            <a href="#">6</a>
        </li>
        <li>
            <a href="#">7</a>
        </li>
    </ul>
    <section class="productsText">
        <div class="productsTextLeft">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin ullamcorper lacinia auctor. Aliquam vitae mi ornare, tincidunt risus sed, euismod nisl.
            Nullam imperdiet nisi ut est imperdiet posuere. Cras sodales molestie enim eget porta.
            Vestibulum scelerisque blandit pulvinar. Donec condimentum malesuada neque a blandit.
            In sodales ex ac pharetra dictum. In interdum facilisis justo. Maecenas sit amet mi vitae purus ultrices fermentum.
            In vel orci erat. Suspendisse potenti. Donec arcu nunc, imperdiet id neque nec, mollis viverra nisl.
            Fusce egestas ligula vitae tristique dignissim.
        </div>
        <div class="productsTextRight">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Proin ullamcorper lacinia auctor. Aliquam vitae mi ornare, tincidunt risus sed, euismod nisl.
            Nullam imperdiet nisi ut est imperdiet posuere. Cras sodales molestie enim eget porta.
            Vestibulum scelerisque blandit pulvinar. Donec condimentum malesuada neque a blandit.
            In sodales ex ac pharetra dictum. In interdum facilisis justo. Maecenas sit amet mi vitae purus ultrices fermentum.
            In vel orci erat. Suspendisse potenti. Donec arcu nunc, imperdiet id neque nec, mollis viverra nisl.
            Fusce egestas ligula vitae tristique dignissim.
        </div>
    </section>
</section>