<header class="header">
    <div class="container">
        <div class="headerTop">
            <div class="headerTopCell logo">
                <a href="#">
                    <img src="img/logo.png" alt="logo" />
                </a>
            </div>
            <div class="headerTopCell info">
                <div class="infoInner">
                    <a href="javascript:void(0);">
                        <span class="m-dotted" id="feedback">Feedback</span>
                        <div class="b-text g-hidden">
                            <div class="feedback_form">
                                <div class="feedback_formTitle">Feedback</div>
                                <form>
                                    <label>
                                        Name <span>*</span><br />
                                        <input id="name" type="text" name="name" value="" />
                                    </label>
                                    <label>
                                        Phone <span>*</span><br />
                                        <input id="phone" type="tel" name="phone" value="" />
                                    </label>
                                    <label>
                                        Email <span>*</span><br />
                                        <input id="email" type="email" name="email" value="" />
                                    </label>
                                    <label>
                                        Text <br />
                                        <textarea></textarea>
                                    </label>
                                    <label class="button">
                                        <input id="button" type="button" value="Submit" />
                                    </label>
                                </form>
                            </div>
                        </div>
                    </a>
                    <span>
                        <p>+3 (050) 777 77 77</p>
                        <p>+3 (050) 777 77 77</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="headerMenu">
        <div class="headerMenuInner">
            <ul class="headerMenuInnerList">
                <li>
                    <a href="#">
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Catalog</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Shipping and payment</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Price</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Contacts</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="headerWrapMobile">
        <div class="headerWrapMobileLogo">
            <a href="/">
                <img src="img/logo.png" alt="logo" />
            </a>
        </div>
        <div class="headerWrapMobileMenu">
            <ul class="headerWrapMobileMenuList">
                <li>
                    <a href="#" class="headerCollapsedMenu s"></a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="headerWrapMobileBottomBg"></div>
    </div>
</header>
<div class="headerHelper"></div>